        .buy-button {
            text-decoration: none;
            display: inline-block;

            background-color: #f7a049;
            color: #000;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 15px;
        }

          .add-to-cart-button {
            text-decoration: none;
            display: inline-block;

            background-color: #cccccc;
            color: #000;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 15px;
        }

        body {
            background-color: aliceblue;
            color: #000;
            text-align: center;
        }

        .pay-button {
            text-decoration: none;
            display: inline-block;

            background-color: #1cdb82;
            color: #000;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 15px;
        }
        
        img {
            width: 600px;
            height: 600px;
        }
    